<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-10 text-center">

      <div class="option-box">
        <p class="title" *ngIf="(this.algorithm.value == '')">Matching Algorithm Animator</p>

        <mat-form-field style="width: 350px" appearance="fill">
          <mat-label>Choose an Algorithm</mat-label>
          <mat-select id="algorithmDropdown" [formControl]="algorithm" (selectionChange)="changeAlgorithm()">
            <mat-option value="hungarian">Hungarian algorithm (minimum-weight matching)</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="restart-button">
        <button mat-stroked-button (click)="restartAlgorithm()" [disabled]="!this.playback.pause" *ngIf="(this.algorithm.value == 'hungarian')">Regenerate new random preference</button>
      </div>

      <div class="playback-block">
        <playback-controls [algorithm]="this.algorithm.value" [numLength]="3" [min]="1" [max]="100" *ngIf="!(this.algorithm.value == '')"></playback-controls>
      </div>

      <div class="matrix-block">
        <matrix-table [algorithm]="this.algorithm.value" *ngIf="(this.algorithm.value == 'hungarian') && (this.playback.matrix.length != 0)"></matrix-table>
      </div>
      
      <div class="code-block">
        <code-display [algorithm]="this.algorithm.value" *ngIf="!(this.algorithm.value == '')"></code-display>
      </div>
      
    </div>
  </div>
</div>
